* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
  }

body {
  background-image: url(img/fondo_main_v2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  align-items: center;  
}

h1 {
  font-size: 35px;
  padding: 40px 0;
  text-align: center;
  text-shadow: 2px 2px 2px green, 0 0 25px white, 0 0 5px red;
}

h2, p {
  text-align: center;
  text-shadow: 2px 2px 2px green, 0 0 25px white, 0 0 5px red;
}

div.gallery {
  margin: 20px 20px;
  padding: 30px 30px;
  position: relative;
  border-radius: 8%;
  float: left;
  width: 350px;
  box-shadow: 0 4px 8px 0 lightblue, 0 6px 20px black;
  background-color: white;
}
  
div.photo img {
    width: 100%;
    height: auto;
    max-width: 300px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
   
}

div.gallery:hover {
    transform: scale(1.1);
    transition: transform 0.15s;
    z-index: 10;
}

div.description {
    text-align: center;
    padding: 10px;
}
@media screen and (max-width:500px){
    .clipped-border{
      width:100px;
      height:100px;
    }
}